<footer>
    <a href="./index.html" class="img-footer"><img src="../img/oasis-logo-nuevo.png" alt="Oasis Water Tank"></a>
    <div class="contenedor-footer">
        <div class="footer-redes-sociales-logos">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="direccion">
            <h3>Dirección</h3>
            <p>México 2064, Martínez
            Provincia de Buenos Aires
            Argentina</p>
        </div>
        <!--<div class="div-flecha-arriba">-->
            <a href="#" class="flecha"><i class="fa-solid fa-circle-arrow-up"></i></a>
        <!--</div>-->
    </div>
    
    
    <!--<div class="footer-redes-sociales">
        
    </div>-->
    <script src="https://kit.fontawesome.com/55711116cb.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</footer>