<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oasis® Water Tanks</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/style-header.css">
    <link rel="stylesheet" href="/style/style-footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;500&family=Montserrat:wght@300;700&display=swap">
    <script src="/scripts/index.js" defer></script>
    <script src="/scripts/header.js" defer></script>
    <script src="/scripts/productos.js" defer></script>
</head>

<body>
    
    <header>
        <div class="logo">
            <h1><a href="/"><img src="../img/oasis-logo-nuevo.png" alt="Oasis Water Tank Logo"></a></h1>
        </div>
        <div class="menu-toggle">
            <i class="fa-solid fa-bars" id="menu-burger"></i>
        </div> 
        <div class="menu-desktop">
            <a href="/" title="Ir a la página de inicio">
                <li>INICIO</li>
        </a>
        <a href="mision-vision" title="Conoce nuestra misión y visión">
                <li>MISIÓN Y VISIÓN</li>
        </a>
        <a href="/productos" title="Explora nuestra tienda">
                <li>PRODUCTOS</li>
        </a>
        <a href="/mayoristas" title="Contáctanos">
                <li>MAYORISTAS</li>
        </a>
        </div>
        <!-- Menú desplegable para mobile -->
       <div id="mobile-menu" class="hidden">
            <div class="menu-header">
                <button id="close-menu">X</button>
            </div>
            <nav id="mobile-nav">
                <a href="/" title="Ir a la página de inicio">
                        <li>INICIO</li>
                </a>
                <a href="mision-vision" title="Conoce nuestra misión y visión">
                        <li>MISIÓN Y VISIÓN</li>
                </a>
                <a href="/productos" title="Explora nuestra tienda">
                        <li>PRODUCTOS</li>
                </a>
                <a href="/mayoristas" title="Contáctanos">
                        <li>MAYORISTAS</li>
                </a>
            </nav>
        </div>
    </header> 