<%- include('partials/header') %>
<main>
    <img src="/img/camioneta-rio.jpg" alt="" class="img-prod">
    <p>Diseñado y probado hace muchos años en Costa Rica ,Oasis se convirtió rapidamente   en el aliado más importante para quien necesite llevar agua a donde vaya sin complicaciones , de manera fácil y accesible.</p> 
    <p>
    Apto para la aventura, el trabajo,el ocio o simplemente para la necesidad diaria de transportar agua en cualquier momento y condición,Oasis resume estos conceptos  en un solo producto.
    </p>
    <h2>RSE</h2>
    <p>Comprometidos con el.medio ambiente y la solidaridad  en Oasis colaboramos con todas aquellas empresas ,personas o fundaciones  que como nosotros creemos que podemos lograr de nuestro mundo u. Lugar mejor.
    </p>
    <div class="fundaciones">
        <img src="/img/conciencia2.png" alt="" class="conciencia-logo">
        <img src="/img/fundación-parques.png" alt="">
    </div>
</main>
<a href="https://wa.link/qsvgn8" class="btn-wsp" target="_blank">
    <img src="/img/wsp.png" alt="Whatsapp">
</a>
<%- include('partials/footer') %>