<%- include('partials/header') %>
    <main>
        <img src="/img/playa.jpg" alt="" class="img-prod">
        <div class="cont-productos">
            <div class="productos detalle-productos">
                <div class="detalle-tanque">
                    <img src="../img/tanque-2.jpg" alt="Tanque 1">
                    <p>Longitud: 1 mt</p>
                    <p>Capacidad: 10 lts</p>
                    <h2>$190.000</h2>
                </div>
            </div>
            <div class="productos detalle-productos">
                <div class="detalle-tanque">
                    <img src="../img/tanque-3-3.jpg" alt="Tanque 1">
                    <p>Longitud: 1,5 mt</p>
                    <p>Capacidad: 15 lts</p>
                    <h2>$225.000</h2>
                </div>
            </div>
            <div class="productos detalle-productos">
                <div class="detalle-tanque">
                    <img src="../img/tanque-4-3.jpg" alt="Tanque 1">
                    <p>Longitud: 2 mt</p>
                    <p>Capacidad: 20 lts</p>
                    <h2>$240.000</h2>
                </div>
            </div>
            <div class="productos detalle-productos">
                <div class="detalle-tanque">
                    <img src="../img/tanque-4-3.jpg">
                        <p>Longitud: 2,5 mt</p>
                        <p>Capacidad: 25 lts</p>
                        <h2>$260.000</h2>
                </div>
            </div>
        </div>
        <h3 class="accesorios-sub">Accesorios incluidos</h3>
        <button class="accesorios-button">VER ACCESORIOS</button>
        <h3 class="accesorios-sub">Instalación sin cargo en nuestro showroom</h3>
        <a href="https://wa.link/qsvgn8" class="btn-wsp" target="_blank">
        <img src="/img/wsp.png" alt="Whatsapp">
        </a>
        <!-- Nuevo div oculto para los accesorios -->
        <div id="accesorios-popup" class="accesorios-popup">
            <!-- Botón para cerrar el popup -->
            <button id="cerrar-accesorios" class="accesorios-button">Cerrar</button>
            <!-- Contenido de las imágenes de accesorios -->
            <div class="accesorios-images">
                <img src="/img/agarradera.png" alt="Accesorio 1">
                <img src="/img/agarradera2 (1).png" alt="Accesorio 1">
                <img src="/img/agarradera3.png" alt="Accesorio 1">
                <img src="/img/agarradera4.png" alt="Accesorio 1">
                <img src="/img/pico.png" alt="Accesorio 1">
                <img src="/img/pico2.png" alt="Accesorio 1">
                <img src="/img/pico3.png" alt="Accesorio 1">
                <img src="/img/pico4.png" alt="Accesorio 1">
                <img src="/img/tapon.png" alt="Accesorio 1">
                <img src="/img/tapon1.png" alt="Accesorio 2">
                <img src="/img/tapon2.png" alt="Accesorio 2">
            </div>
        </div>
    </main>
<%- include('partials/footer') %>
    
    

    <!-- Iconos: https://www.flaticon.es/ -->
</body>
</html>