<%- include('partials/header') %>
    <main>
        <img src="/img/playa.jpg" alt="" class="img-prod">
        <div class="productos detalle-productos">
            <div class="detalle-tanque">
                <img src="../img/tanque-2.jpg" alt="Tanque 1">
                <p>Longitud: 1 mt</p>
                <p>Capacidad: 10 lts</p>
                <h2>$190.000</h2>
            </div>
            <div class="productos detalle-productos">
                <div class="detalle-tanque">
                    <img src="../img/tanque-3-3.jpg" alt="Tanque 1">
                    <p>Longitud: 1,5 mt</p>
                    <p>Capacidad: 15 lts</p>
                    <h2>$225.000</h2>
                </div>
                <div class="productos detalle-productos">
                    <div class="detalle-tanque">
                        <img src="../img/tanque-4-3.jpg" alt="Tanque 1">
                        <p>Longitud: 2 mt</p>
                        <p>Capacidad: 20 lts</p>
                        <h2>$240.000</h2>

                    </div>
                    <div class="productos detalle-productos ultimo">
                        <div class="detalle-tanque">
                            <img src="../img/tanque-4-3.jpg">
                            <p>Longitud: 2,5 mt</p>
                            <p>Capacidad: 25 lts</p>
                            <h2>$260.000</h2>
                        </div>
                        <h3>Accesorios incluidos</h3>
                        <button class="accesorios-button">VER ACCESORIOS</button>
                        <h3>Instalación sin cargo en nuestro showroom</h3>
                        <a href="https://wa.link/qsvgn8" class="btn-wsp" target="_blank">
                            <img src="/img/wsp.png" alt="Whatsapp">
                        </a>
    </main>
<%- include('partials/footer') %>
    
    

    <!-- Iconos: https://www.flaticon.es/ -->
</body>
</html>