/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: transparent; 
}
/* Estilos del logo */
.logo {
    text-align: center;
    flex: 1; 
}

.logo img {
    max-width: 50%; 
    height: auto; 
}

/* Estilos del menú hamburguesa para dispositivos móviles (predeterminado) */
.menu-toggle {
    font-size: 35px; /* Tamaño predeterminado para dispositivos móviles */
    color: black; /* Color del icono en negro */
    cursor: pointer; /* Cambia el cursor al estilo de un puntero al pasar sobre el icono */
}

/* Estilos para el menú desplegable */
#mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; 
    z-index: 1000; 
}

#mobile-menu ul {
    list-style: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white; 
    padding: 20px;
    border-radius: 10px;
}

#mobile-menu li {
    margin: 10px 0;
}

/* Estilos para el botón de cierre*/
#close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent; 
    color: black; 
    border: none; 
    outline: none; 
}


/* ---------------- FOOTER ---------------- */
footer img{
    width: 40%;
    margin-left: 30%;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.footer-redes-sociales{
    display: flex;
    gap: 40%;
}
.footer-redes-sociales-logos{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 10vh;
}
.footer-redes-sociales img{
    width: 80%;
    margin-left: 10%;
}
.footer-redes-sociales a{
    width: 80%;
    margin: auto;
}


/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar el icono del menú hamburguesa en pantallas pequeñas */
    }

    nav {
        display: none; /* Ocultar el menú de navegación en pantallas pequeñas */
    }
}