body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: transparent; 
    color: white; /* Color del texto en el encabezado */
}
/* Estilos del logo */
.logo {
    text-align: center;
    flex: 1; 
}

.logo img {
    max-width: 50%; 
    height: auto; 
}

/* Estilos del menú hamburguesa para dispositivos móviles (predeterminado) */
.menu-toggle {
    font-size: 35px; /* Tamaño predeterminado para dispositivos móviles */
    color: black; /* Color del icono en negro */
    cursor: pointer; /* Cambia el cursor al estilo de un puntero al pasar sobre el icono */
}

/* Estilos para el menú desplegable */
#mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; 
    z-index: 1000; 
}

#mobile-menu ul {
    list-style: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white; 
    padding: 20px;
    border-radius: 10px;
}

#mobile-menu li {
    margin: 10px 0;
}

/* Estilos para el botón de cierre*/
#close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent; 
    color: black; 
    border: none; 
    outline: none; 
}
.image-grid {
    display: flex;
    justify-content: space-between;
    margin: 2% 0; /* Espaciado del 2% arriba y abajo */
    position: relative; /* Añade posición relativa para controlar capas */
    z-index: 1; /* Asegura que las imágenes estén sobre el video */
}

.img-mosaico {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd; /* Añade un borde para separar las imágenes */
    border-radius: 5px; /* Agrega bordes redondeados */
}

.video-container {
    position: relative;
}

#video-background {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hover-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hover-button:hover {
    background-color: white;
    color: black; /* Cambia el color del texto al hacer hover */
}
/* ---------------- FOOTER ---------------- */
footer img{
    width: 40%;
    margin-left: 30%;
}

footer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
.footer-redes-sociales{
    display: flex;
    gap: 40%;
}
.footer-redes-sociales-logos{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 10vh;
}
.footer-redes-sociales img{
    width: 80%;
    margin-left: 10%;
}
.footer-redes-sociales a{
    width: 80%;
    margin: auto;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar el icono del menú hamburguesa en pantallas pequeñas */
    }

    nav {
        display: none; /* Ocultar el menú de navegación en pantallas pequeñas */
    }
}