

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style-footer.css">
</head>
<footer>
    <a href="../index.html"><img src="../../img/oasis-logo-nuevo.png" alt="Oasis Water Tank"></a>
    <a href="#">INICIO</a>
    <a href="#">MISIÓN Y VISIÓN</a>
    <a href="#">TIENDA</a>
    <a href="#">CONTACTO</a>
    <div class="footer-redes-sociales">
        <div class="footer-redes-sociales-logos">
            <a href="#"><img src="../../img/logo-facebook.png" alt="Facebook" class="footer-facebook"></a>
            <a href="#"><img src="../../img/logo-instagram.png" alt="Instagram" class="footer-instagram"></a>
        </div>
        <div class="div-flecha-arriba">
            <a href="#"><img src="../../img/logo-flecha-arriba.png" alt="Volver arriba" class="footer-volver"></a>
        </div>
    </div>
</footer>

</body>
